html, body, #app {
  height: 100%;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#add-button:hover {
  background-color: grey;
}

#add-button {
  background-color: rgb(55, 165, 255);
}

#paper {
  max-width: 50%;
  margin: auto;
}